# Ignora todo menos config y .local/bin
/*
!.local/bin/
!Proyectos/Gentoo/
!.config/

!.gitignore

# Ignora todo dentro de .config excepto lo declarado abajo
.config/*
!.config/dunst/
!.config/fontconfig/
!.config/foot/
!.config/gammastep/
!.config/mimeapps.list
!.config/mpd/
!.config/mpv/
!.config/ncmpcpp/
!.config/nvim/
!.config/rofi/
!.config/shell/
!.config/sioyek/
!.config/swaylock/
!.config/systemd/
!.config/tmux/
!.config/user-dirs.dirs
!.config/waybar/
!.config/xdg-desktop-portal/
!.config/yazi/
!.config/zathura/
!.config/zsh/

# Excepciones puntuales dentro de lo permitido
*.db
*.log
.config/mpd/pid
.config/mpd/state
.config/mpv/log
.config/yazi/flavors/
.config/yazi/plugins/
.config/zsh/.zcompcache
.config/zathura/zathura-theme
.config/systemd/**
!.config/systemd/**/
!.config/systemd/user/waypaperd*
